.table{
  width: 60%;
}
.table-head{
  background-color: #001485;
  height: 25px;
  align-items: center;
  padding-left: 5px;
  border-radius: 4px;
}
.td-head{
  color: white; font-size: 11px; padding: 4px; letter-spacing: 1px; font-size: 15px
}

.sub-tittle{
  letter-spacing: 1.3px
}
