<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <title> Web Scraping</title>

  </head>
  <body>
    <h4 class="sub-title"> Productos: Celulares</h4>
    <table>
      <thead class="table-head">
        <tr>
          <td class="td-head" >Celular</td>
          <td class="td-head" >Caracteristicas</td>
          <td class="td-head">Precio</td>
        </tr>
      </thead>
      <tbody>
          {% for phone in datoP%}
        <tr>
          <td >{{phone.nombre}}</td>
          <td>{{phone.caracteristicas}}</td>
          <td>{{phone.valor}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h4 class="sub-title"> Productos: Tablets</h4>
    <table>
      <thead class="table-head">
        <tr>
          <td class="td-head" >Tablets</td>
          <td class="td-head" >Caracteristicas</td>
          <td class="td-head">Precio</td>
        </tr>
      </thead>
      <tbody>
          {% for tablet in datoT%}
        <tr>
          <td >{{tablet.nombre}}</td>
          <td>{{tablet.caracteristicas}}</td>
          <td>{{tablet.valor}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h4 class="sub-title"> Productos: Laptops</h4>
    <table>
      <thead class="table-head">
        <tr>
          <td class="td-head">Laptops</td>
          <td class="td-head">Caracteristicas</td>
          <td class="td-head">Precio</td>
        </tr>
      </thead>
      <tbody >
          {% for laptop in datoL%}
        <tr>
          <td>{{laptop.nombre}}</td>
          <td>{{laptop.caracteristicas}}</td>
          <td>{{laptop.valor}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>


</html>
